* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  background-image: url(./images/Screenshot\ 2022-07-19\ 044757.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.container-flex {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.title {
  margin-bottom: 20px;
  color: white;
}

.current-question {
  margin: 20px;
  color: white;
}

.container-grid {
  display: grid;
  grid-template-columns: 300px 300px;
  column-gap: 5px;
  row-gap: 8px;
  background-color: black;
  padding: 8px 8px 8px 8px;
  border-radius: 15px;
}

.element {
  background-color: #0693e3;
  height: 70px;
  border: double white ;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: larger;
  font-weight: bold;
  position: relative;
  cursor: default;
}

.total-number {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 0px;
  border: solid black;
  height: 65px;
  width: 65px;
  background-color: lightsteelblue;
}

.Reroll {
  margin-top: 30px;
  width: 100px;
  height: 50px;
  font-size: larger;
}